<?php
	$offwhite = "236, 221, 255";
	$lavender = "127, 105, 155";
?>
@font-face {
    font-family: 'Amanda';
    src: url(./fonts/Amanda.ttf);
}
@font-face {
    font-family: 'ChampagneLimousines';
    src: url(./fonts/ChampagneLimousines.ttf);
}
@font-face {
    font-family: 'bernadette';
    src: url(./fonts/bernadette.ttf);
}


body {
	margin: 0;
	color: black;
	font-family: ChampagneLimousines;
}

h1 {
	font-family: Amanda;
	font-weight: normal;
	font-size: 80pt;
}
h1 span.fix {
	font-family: bernadette;
	font-size: 70pt;
}

h2 {
	font-size: 40pt;
}

div, td {
	font-size: 20pt;
}

div.menu {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 30px 30px 0;
	opacity: 0.8;
	overflow: hidden;
	z-index: 10;

	font-size: 18pt;
}

div.menu img#hamburger {
	width: 50px;
}

div.menu ul {
	margin: 0;
	padding: 0;
	background-color: rgb(<?php echo $offwhite; ?>);
	color: black;
	transition: transform 0.5s ease, opacity 0.1s ease 0.5s, max-height 0.1s ease 0.6s, max-width 0.1s ease 0.6s;
	transform: translateX(-100%);
	max-height: 0;
	max-width: 0;
	opacity: 0;
}

div.menu:hover ul {
	transition: transform 0.5s ease;
	transform: translateX(0);
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}

div.menu ul li {
	transition: background 0.5s, color 0.5s;
	padding: 25px 40px;
	list-style-type: none;
}

div.menu ul a {
	text-decoration: none;
	color: black;
}

div.menu ul li:hover {
	background-color: rgb(<?php echo $lavender; ?>);
}

div.menu ul li:hover a {
	color: rgb(<?php echo $offwhite; ?>);
}

div.staticImage {
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding-top: 50px;
	border-bottom: 1px solid transparent;
	color: white;
	text-align: center;
}

div#Faces {
	min-height: 100%;
}

div#Faces h2 {
	margin-bottom: 250px;
}

div.scrolling {
	background-color: white;
	padding-top: 50px;
	text-align: center;
}

table {
	margin: 30px auto;
	border-spacing: 10px;
	color: rgb(<?php echo $offwhite; ?>);
	background-color: rgb(<?php echo $lavender; ?>);
	box-shadow: 3px 5px 20px grey;
	transition: background 0.5s, color 0.5s;
}
table:hover {
	background-color: rgb(<?php echo $offwhite; ?>);
	color: rgb(<?php $lavender; ?>);
}

tr {
}
td {
	padding: 3px 10px;
}

div.wishes:nth-child(even):after {
	content: '';
	display: block;
	clear: both;
}

div.wishColumn {
	float: left;
	width: 50%;
}

div.wish {
	position: relative;
	margin: 30px 5%;
	opacity: 1;
	font-size: 15pt;
	box-shadow: 3px 3px 5px grey;
}

div.wish img {
	width: 100%;
}

div.wish > div { /* Table container -> Full parent div size at top left to overlay image */
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity	0.5s;
	background-color: rgba(<?php echo $offwhite; ?>, 0.7);
	color: black;
}
div.wish:hover > div {
	opacity: 1;
}

div.wish > div > div { /* Table -> full size again (if it were the positioning div the height 100% would be the window 100% - who knows why... */
	display: table;
	width: 100%;
	height: 100%;
}

div.wish > div > div > div { /* Table cell -> now all content is hori and verti centered. */
	display: table-cell;
	vertical-align: middle;
}

div.wish h3 {
	font-size: 18pt;
}

hr.break {
	clear: both;
	border: 1px solid transparent;
}